:root {
    --title: #222;
    --paragraph: #444;
    --subtle: #888;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior:smooth;
}

html, body {
    font-size: 62.5%;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.25rem;
}

p, span, li {
    font-size: 1.25rem;
}

.container {
    padding: 0 24px;
}

main {
    margin-top: 24px;
}

.profile-pic {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    width: 50%;
    max-width: 192px;
    height: auto;
}

.description {
    border-radius: 10px;
    margin: 12px 0;
    padding: 12px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: #005aad;
}

main h1, main p {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title);
}

h2 {
    display: inline-block;
    padding-top: 16px;
}

p, li, span {
    color: var(--paragraph);
}

.working-experience li {
  list-style-type: '- ';
  margin: 8px 0 8px 16px;
}

section {
    margin: 24px 0;
}

.a-target {
    color: var(--title);
    text-decoration: none;
}

.tag {
    color: white;
    transition: all 0.25s linear;
}

.a-target:hover .tag {
    color: var(--subtle);
}

.p-block {
    margin: 12px 0;
    text-align: justify;
}

.projects-container {
    margin-top: 24px;
}

.project {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-bottom: 32px;
    border: 1px solid #eee;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.project .project-description {
    padding: 6px 16px 16px 16px;
}

.project h3 {
    margin: 0;
}

.btn-container {
    margin-top: 16px;
    text-align: center;
}

.btn {
    padding: 10px 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.25rem;
    height: fit-content;
}

.btn-contact {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    color: white;
}

.btn-nav {
    background: #232526;
    background: -webkit-linear-gradient(to left, #414345, #232526);
    background: linear-gradient(to left, #414345, #232526);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 1;
    padding: 8px;
}

.btn-contact {
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-demo {
    background: #e52d27;
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
    background: linear-gradient(to right, #b31217, #e52d27);
    color: white;
}

.btn-git {
    background-color: #5900e9;
    background-image: linear-gradient(160deg, #5900e9 0%, #a580d0 100%);
    color: white;
}

.btn-demo i, .btn-git i {
    margin-right: 4px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
}

.skill {
    text-align: center;
    width: 33%;
    margin: 16px 0;
}

.skill h4 {
    color: var(--paragraph);
}

.skill img {
    height: 64px;
    width: auto;
}

.working-experience {
    margin-top: 12px;
}

.working-experience h3 {
    color: var(--paragraph);
    margin-bottom: 4px;
}

.working-experience li {
    color: var(--subtle);
}

footer {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 24px;
}

.socials {
    display: flex;
    font-size: 3.2rem;
    justify-content: space-between;
    width: 50%;
    max-width: 200px;
    margin: 0 auto 8px auto;
}

.socials a {
    color: var(--subtle);
    text-decoration: none;
}

footer span {
    color: var(--subtle);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    z-index: 2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    transition: top 0.3s;
}

header::after {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: transparent;
    content: '';
    z-index: 2;
    transition: background 0.5s linear;
}

.navbar {
    background-color: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: -100vw;
    transition: left 0.5s ease-in-out;
    padding: 24px;
}

header.show .navbar {
    left: 0;
}

header.show::after {
    background-color:  rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 16px;
    border-bottom: 2px solid #eee;
}

.navbar-header h2 {
    padding: 0;
}

.navbar-header span {
    display: block;
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    display: block;
    margin: 16px 0;
}

.navbar a {
    display: block;
}

.navbar li {
    margin: 16px 0;
}

@media (min-width: 550px) {
    .navbar {
        max-width: 400px;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project {
        width: 47.5%;
    }
}

@media (min-width: 700px) {

    .container {
        padding: 0 72px;
        max-width: 960px;
        margin: 0 auto;
    }

    main.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }

    main.container > div {
        width: fit-content;
        margin-right: 48px;
    }

    .profile-pic {
        width: 192px;
    }

    .description {
        flex: 1;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 2.8rem;
    }
    
    h2 {
        font-size: 2.1rem;
    }
    
    h3 {
        font-size: 1.8rem;
    }
    
    h4 , p, span, li, .btn {
        font-size: 1.4rem;
    }
}

@media (min-width: 1440px) {
    h1 {
        font-size: 3.2rem;
    }
    
    h2 {
        font-size: 2.4rem;
    }
    
    h3 {
        font-size: 2.2rem;
    }
    
    h4 , p, span, li, .btn {
        font-size: 1.6rem;
    }
}